.form-input  { 
    margin-top: 10px;
}

.form-main-input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.landing-main {
    background-image: url('../../Images/main-back-landing.jpg');
    height: 800px;
}

.landing-container {
  position: absolute;  
  left: 5%;  
  top: 20%;
  background-color: #fff;
  display: inline-block;
  padding: 30px;
  border-radius: 25px;
  width: 40%;
}

/* todo: move to new css register landing */
/* todo: convert to sass */
.sub-category {
  margin-top: 10px;
}

.sub-category-misc {
  position: absolute;   
}

/* todo: move to new css for user main components */
/* todo: conver to sass */

.main-dashboard-container {
  padding: 20px;
}

.column {
  float: left;
  width: 20%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}